*{
    margin: 0px;
    padding: 0px;
}
html {
  scroll-behavior: smooth;
}
body{
  background-color: #c5a57e;
}
.fun{
    font-family: 'Gruppo', cursive;
    color: black;
    padding: 10px;
    overflow: hidden;
}
header{
    background-color: white;  
    margin: 0%;
    overflow: hidden;
    width: 100%;
}
.logo{
  float: left;
  overflow: hidden;
}
.meni{
    font-family: 'Gruppo', cursive;
    font-size: larger;
    float: right;
    font-weight: bolder;
    overflow: hidden;
    margin-top: 15px;
    color: black;
    margin-right: 50px;
}
.meni:hover{
    overflow: hidden;
}
.meni a{
    padding: 30px 15px;
    background-color: transparent;
    overflow: hidden;
}

.menu-icon{
  display: block;
  overflow: hidden;
  float: right;
  margin-top: 12px;
  margin-right: -500px;
}

.prvastranica{
    padding: 100px;
    background-image: url(/images/s1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
    font-family: 'Gruppo', cursive;
    height: 620px;
    padding-left: 250px;
    margin-right: 0%;
    overflow: hidden;
}
.prvitekst{
    margin-left: 150px;
    margin-top: -225px;
    overflow: hidden;
    color: white;
}
.prvitekst h1{
  font-size: 65px;
}
.priheder{
    background-color: #c5a57e;
    color: black;
    font-family: 'Gruppo', cursive;
    text-align: right;
    overflow: hidden;
}
.socialmedia{
    float: left;
    overflow: hidden;
    margin-top: 2px;
}
.dugme{
    padding: 15px; 
    background-color:transparent;
    font-family: 'Gruppo', cursive;
    font-weight:bolder;
    border-radius: 15px;
    cursor: pointer;
    transition-duration:0.7s;
    overflow: hidden;
    color: white;
    border: white;
}
.dugme:hover{
    background-color: #e9ded6;
    color: black;
    border: #e9ded6;
    overflow: hidden;
}
.waviy {
    position: relative;
    text-align: center;
    overflow: hidden;
  }
  .waviy span {
    position: relative;
    display: inline-block;
    font-size: 40px;
    font-family: 'Gruppo', cursive;
    color: white;
    overflow: hidden;
    text-transform: uppercase;
    animation: flip 2s infinite;
    animation-delay: calc(.2s * var(--i))
  }
  @keyframes flip {
    0%,80% {
      transform: rotateY(360deg) 
    }
  }
  .onama{
      background-color: rgba(255, 255, 255, 0.418);
      padding-top: 80px;
      font-family: 'Gruppo', cursive;
      color: black;
      overflow: hidden;
      padding-left: 100px;
      padding-right: 100px;
  }
  .cene{
      background-color: rgb(255, 255, 255);
      font-family: 'Gruppo', cursive;
     padding: 100px;
     overflow: hidden;
  }
  .kontakt{
    background-color: rgba(255, 255, 255, 0.925);
    padding:40px;
    font-family: 'Gruppo', cursive;
    color: black;
    width: 30%;
    text-align: center;
    margin-left: 33%;
    margin-right: 50%;
    overflow: hidden;
  }
  .futer{
    background-color: rgba(255, 255, 255, 0.418);
  }
  .socialfuter{
    text-align: center;
  }
  #myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px; 
    z-index: 99; 
    background-color: transparent;
    cursor: pointer; 
    padding: 15px; 
    background-image: url(/images/up.png);
    background-repeat: no-repeat;
    background-size:30px 30px;
    border: none;
  }
  .glavnasec{
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    font-family: 'Gruppo', cursive;
    padding: 150px;
    text-align: justify;
  }
  .slika1{
    background-image: url(/images/osnivaci.jpg);
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  table th, tr{
    box-sizing: border-box;
    padding: 60px;
    row-gap: 25px;
  }
  .gallery {
    display: inline-block;
    width: 260px;
    padding-left: 115px;
    padding-right: 150px;
    overflow: hidden;
    max-width: 100%;
  }
 .center {
   text-align: center;
  }
  .radovidugme{
    background-color: #c5a57e;
    color: white;
    padding: 25px;
    font-family: 'Gruppo', cursive;
    cursor: pointer;
    border: none;
    font-weight: bolder;
    width: 250px;
    transition-duration:0.7s;
  }
  .radovidugme:hover{
    background-color: #e9ded6;
    color: black;
    transition-duration:0.7s;
  }
  .desc{
    font-weight: bolder;
    padding: 15px;
  }
.slika2{
  background-image: url(/images/s3.jpg);
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .radovisec{
    background-color: rgba(255, 255, 255, 0.884);
    color: black;
    font-family: 'Gruppo', cursive;
    padding: 100px;
    overflow: hidden;
  }
  .gallery2{
    width: 180px;
    display: inline-block;
    padding: 140px;
  }
  .slika3{
    background-image: url(/images/12.jpg);
      padding: 200px;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .glavnakontakt{
      background-color: rgba(255, 255, 255, 0.884);
      color:black;
      padding: 150px;
      font-family: 'Gruppo', cursive;
      text-align: center;
      overflow: hidden;
    }
    .slika4{
      background-image: url(/images/index2.jpg);
        padding: 200px;
        background-repeat: no-repeat;
        background-size: cover;
        opacity: 0.7;
      }
  .tekst4{
    color: black;
    font-family: 'Gruppo', cursive;
    text-align: center;
  }
  .posaljidugme{
    padding: 15px; 
    background-color:transparent;
    font-family: 'Gruppo', cursive;
    font-weight:bolder;
    border-radius: 15px;
    cursor: pointer;
    transition-duration:0.7s;
    overflow: hidden;
    color: black;
    border: black;
    font-size: large;
  }
  .posaljidugme:hover{
    background-color: #e9ded6;
    color: black;
    border: #e9ded6;
    overflow: hidden;
  }
  textarea{
    padding: 20px;
  }

  @media only screen and (max-width:425px){
    
    .fun{
      font-size: x-large;
      margin-top: 3px;
    }
    .meni{
           width: 100%;
           background-color: rgba(255, 255, 255, 0.61);
           position: absolute;
           top:60px;
           right: -50px;
           z-index: 2;
    }
    .meni a{
      display: block;
           margin-top: 10px;
           margin-bottom: 10px;
           padding: 15px;
           margin-right: 15px;
           text-align: right;
    }
    .menu-icon{
      display: flex;
      cursor: pointer;
      overflow: hidden;
      float: none;
      width: 25px;
      margin-left: 390px;
    }
    #menulist{
      overflow: hidden;
      transition: 0.5s;
    }
    .prvastranica{
      padding: 0;
      margin: 0;
      padding-bottom: 130px;
    }
    .prvitekst{
      text-align: justify;
      padding: 0;
      margin-left: 0;
      padding-left: 35px;
      margin-top: -100px;
    }
    .dd{
      margin-left: 0;
      padding: 0;
    }
    .prvitekst h2{
      font-size: medium;
    }
    .prvitekst h1{
      font-size: 50px;
    }
    .slika4{
      padding: 100px;
    }
    .tekst4{
      font-size: small;
    }
    .onama{
      padding-top: 80px;
      padding-bottom: 80px;
    }
    .onamatekst{
      font-size: x-large;
      padding: 0%;
      margin: 0;
    }
    .tabela th{
      display:block;
      padding: 30px;
      row-gap: 25px;  
      float: none;
    }
    .tabela h3{
      font-size: larger;
    }
    .gallery{
      padding: 0;
      display: block;
      width: max-content;
    }
    .cene{
     padding: 0;
      padding-top: 50px;
      padding-bottom: 50px;
    }
    .cenetekst{
      padding-left: 15px;
      padding-right: 15px;
      font-size: x-large;
    }
    .kontakt{
     padding: 30px;
     margin: 0%;
     overflow: hidden;
     size: 100%;
     box-sizing: border-box;
     width: 100%;
    }
    .kontakt h3{
      padding: 0px;
      margin: 0;
    }
    .futer p{
      font-size: small;
    }
    .slika1{
      padding: 35px;
    }
    .glavnasec{
      padding: 25px;
    }
    .osnivaci{
      margin-left: 35px;
    }
    .slika2{
      padding: 35px;
    }
    .radovisec{
      padding: 25px;
      padding-left: 0%;
    }
    .radovisec h2{
      font-size: larger;
    }
    .radovitekst{
      text-align: center;
      padding: 15px;
    }
    .gallery2{
      width: fit-content;
      padding: 0;
    }
    .slika3{
    padding: 35px;
    }
    .glavnakontakt{
      padding: 25px;
      padding-top: 100px;
      padding-bottom: 100px;
    }
    .glavnakontakt h2{
      font-size: larger;
      padding-top: -150px;
    }
  }

  @media only screen and (max-width:320px)
  {
    .menu-icon{
          margin-left: 280px;
    }
    .prvitekst{
      padding-left: 0%;
      padding: 25px;
      text-align: justify;
    }
    .prvitekst h1{
      font-size: 40px;
    }
    .slika4{
      padding: 50px;
    }
    .tabela th{
      padding: 20px;
      margin-left: -20px;
    }
    .gallery{
      margin: 0%;
      padding: 0%;
    }
    .kontakt{
      box-sizing: border-box;
      padding: 15px;
      font-size: 15px;
    }
  .osnivaci{
    margin-left: 0px;
  }
  .glavnakontakt {
    font-size: 15px;
    padding: 25px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin:0%;
  }
  }
@media only screen and (max-width:375px) and (min-width:321px){
  .menu-icon{
    margin-left: 330px;
  }
  .osnivaci{
    margin-left:  15px;
  }
}
@media only screen and (max-width:768px) and (min-width:426px){
  .menu-icon{
    float: none;
    margin-left: 720px;
    width: 25px;
  }
  .fun{
    font-size: x-large;
    margin-top: 3px;
  }
.prvitekst{
  margin-left: -50px;
}
.tabela th, tr{
  padding: 10px;
  padding-left: 0;
  margin-left: 0;
  box-sizing: border-box;
}
.onama{
  padding: 50px;
}
.slika4{
  padding: 150px;
}
.gallery{
  padding-left: 80px;
}
.kontakt{
  width: 50%;
  margin-left: 20%;
}
.slika1{
  padding: 100px;
}
.glavnasec{
  padding: 100px;
}
.osnivaci{
  margin-left: 55px;
}
.slika2{
  padding: 100px;
}
.gallery2{
  padding:20px;
  margin-left: 10px;
  width: 100%;
  height: 100%;
}
.slika3{
  padding: 100px;
}
}
 